@import "tailwindcss";

.hero-bg {
	background-image: linear-gradient(to bottom, rgba(5, 46, 22, 0.96), rgba(16, 185, 129, 0.96)); /* emerald-500 to emerald-900, más opaco */
	background-size: cover;
	background-position: center;
}