---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="min-h-screen flex flex-col items-center justify-center bg-white">
    <section
      class="w-full max-w-6xl mx-0 bg-gray-50 rounded-2xl shadow-lg pt-8 text-gray-800 flex flex-col items-center"
    >
      <iframe
        src="https://ee.kobotoolbox.org/i/cX5DTNW1"
        width="800"
        height="600"
        class="rounded-xl border mb-8"
        allowfullscreen></iframe>
    </section>
  </main>
</Layout>
