---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="py-16 bg-white">
      <div class="container mx-auto px-6">
        <h2
          class="text-3xl md:text-4xl font-bold text-center mb-8 text-emerald-700 mt-12"
        >
          Evaluación de tus propuestas
        </h2>
        <div
          class="max-w-2xl mx-auto bg-gray-50 rounded-2xl shadow-lg p-8 text-gray-800 text-lg"
        >
          <p class="mb-4">
            La Ciudad de México se encuentra en proceso de actualización de su
            Programa de Acción Climática, hacia la construcción de nuevas metas
            para el año 2030. Por ello, hemos impulsado un proceso participativo
            para recibir las propuesta de distintos actores hacia una acción
            climática participativa e incluyente.
          </p>
          <p class="mb-4">
            Tus propuestas aportan a fortalecer los compromisos climáticos de la
            Ciudad, con nuevas medidas que atiendan las prioridades de la
            ciudadanía y avancen hacia el bienestar comunitario.
          </p>
          <p class="mb-4">
            Las propuestas de esta consulta pública son revisadas por la
            Secretaría del Medio Ambiente, en coordinación con las dependencias
            e instituciones del Gobierno de la Ciudad de México, que realizarán
            la evaluación de su vinculación con el marco normativo, su alcance
            territorial y su viabilidad técnica y financiera, para su inclusión
            en el Programa.
          </p>
          <p class="mb-4">
            Para consultar el Programa vigente y sus líneas de acción, visita el
            siguiente enlace:
          </p>
          <a
            href="https://www.sedema.cdmx.gob.mx/storage/app/media/DGCPCA/PACCM_y_ELAC_uv.pdf"
            target="_blank"
            class="text-emerald-700 underline font-semibold block mb-6 justify-center text-center"
            >PACCM_y_ELAC_uv.pdf</a
          >
          <p class="font-bold text-center text-emerald-700">
            ¡Gracias por participar en la construcción de un futuro bajo en
            emisiones y resiliente para la Ciudad de México!
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
