<section
  id="inicio"
  class="hero-bg h-screen flex items-center justify-center text-center text-white p-4"
>
  <div>
    <h1
      class="text-3xl md:text-5xl lg:text-6xl font-extrabold leading-tight mb-4"
    >
      ¿Por qué es importante la acción climática?
    </h1>
    <p class="text-base md:text-lg max-w-2xl mx-auto mb-8">
      La Ciudad de México genera el 3.2% de las emisiones nacionales de gases de
      efecto invernadero, responsables del cambio climático global. Además, las
      personas y los ecosistemas son vulnerables a sus impactos negativos, por
      la presencia de lluvias intensas, calor extremo e inundaciones.
    </p>
    <p class="text-base md:text-lg max-w-2xl mx-auto mb-8 pt-0.5 my-0.5">
      Por ello, la Ciudad de México está comprometida con la acción climática
      ambiciosa. A partir del Programa de Acción Climática, promovemos medidas
      en distintos ejes de acción para avanzar hacia una ciudad baja en
      emisiones y resiliente ante riesgos climáticos.
    </p>
    <a
      href="http://www.data.sedema.cdmx.gob.mx/cambioclimaticocdmx/index.html"
      class="btn-gradient bg-emerald-800 bg-gradient-to-r from-emerald-900 via-emerald-800 to-emerald-700 text-white font-bold py-3 px-8 rounded-full shadow-lg hover:shadow-xl transition-all hover:from-emerald-950 hover:to-emerald-800"
      >Conoce mas sobre Cambio Climático</a
    >
    <a
      href="#soluciones"
      class="btn-gradient bg-emerald-800 bg-gradient-to-r from-emerald-900 via-emerald-800 to-emerald-700 text-white font-bold py-3 px-8 rounded-full shadow-lg hover:shadow-xl transition-all hover:from-emerald-950 hover:to-emerald-800"
      >Conoce nuestros ejes de acción:</a
    >
  </div>
</section>
