---
import Solucion from "./Solucion.astro";

const soluciones = [
  {
    img: "agua.png",
    title: "Agua",
    description: "Gestión sustentable del agua",
    extraContent: `<h5>Gestión sustentable del agua</h5><p>El cambio climático tiene impacto en la disponibilidad del agua en la Ciudad. A partir de la recuperación de los ríos y cuerpos de agua y de la modernización de la infraestructura hídrica, avanzamos en mejorar la gestión de los recursos vitales y garantizar un acceso equitativo al agua para todas las personas.</p>`,
  },
  {
    img: "calidad_del_aire.png",
    title: "Calidad del aire",
    description: "Mejorando el aire que respiramos en ciudades y comunidades.",
    extraContent: `<h5>Calidad del aire</h5><p>El cambio climático puede afectar la calidad del aire que respiramos. En la Ciudad de México, trabajamos por un aire limpio y saludable para todas las personas. </p>`,
  },
  {
    img: "cultura.png",
    title: "Cultura Climática",
    description: "Promoviendo la educación y cultura ambiental.",
    extraContent: `<h5>Cultura Climática</h5><p>La acción climática es compromiso de todas y todos quienes habitamos, visitamos y amamos nuestra ciudad. ¡Nuestro compromiso suma! A partir de la educación y la cultura, buscamos la transformación de nuestros modos de consumo y la participación de todos los actores, para construir de la mano el futuro que aspiramos para la ciudad. </p>`,
  },
  {
    img: "Energia.png",
    title: "Energía",
    description: "Ciudad Solar",
    extraContent: `<h5>Ciudad Solar</h5><p>Las edificaciones en la Ciudad generan emisiones por el uso de energía que proviene de la quema de combustibles fósiles. En la Ciudad de México avanzamos hacia una ciudad solar, a partir de prácticas de uso eficiente de la energía en las viviendas, las industria, los comercios y servicios y el sector público. Cada vez más, generamos energía renovable a partir de la energía solar para transitar hacia una ciudad más limpia y baja en emisiones. </p>`,
  },
  {
    img: "inclusion.png",
    title: "Ejes transversales",
    description: "Temas transversales",
    extraContent: `<h5>Temas transversales</h5><p>Todas las personas vivimos el cambio climático de forma diferente. La acción climática es una oportunidad de transformación: más empleos verdes, equidad de género, participación social, innovación y ambición. Transformemos nuestras experiencias e ideas en justicia e inclusión.</p>`,
  },

  {
    img: "Movilidad.png",
    title: "Movilidad",
    description: "Fomentando transporte sostenible y accesible.",
    extraContent: `<h5>Movilidad integrada</h5><p>La forma en que nos movemos es la principal causa de emisiones a nivel urbano. En la Ciudad de México, estamos transformando la movilidad, para reducir la cantidad de energía que usamos, mejorando a su vez la calidad del aire y la salud de las personas. A partir del acceso a transporte público eficiente, la transición hacia unidades eléctricas y bajas en emisiones, más movilidad ciclista y peatonal y el acceso a calles amigables, impulsamos una movilidad sustentable en la ciudad.</p>`,
  },
  {
    img: "naturaleza.png",
    title: "Revegetación",
    description: "Revegetación del campo y la ciudad",
    extraContent: `<h5>Revegetación del campo y la ciudad</h5><p>En la Ciudad de México, el 59% del territorio es Suelo de Conservación. La naturaleza es hogar de la biodiversidad urbana, nos ayuda a reducir riesgos por calor o inundaciones, mejora la calidad del aire, no aportan agua y alimentos, y es la fuente de trabajo de millones de familias en la Ciudad. Con soluciones basadas en la naturaleza, avanzamos en la transformación en una ciudad esponja y a cielo abierto para el disfrute de todas y todos. </p>`,
  },
  {
    img: "residuos.png",
    title: "Residuos",
    description: "Basura Cero",
    extraContent: `<h5>Basura Cero</h5><p>Nuestros modos de consumo generan más de 12 mil toneladas de residuos al día. ¡El mejor residuos es el que no se genera! En la Ciudad de México transitamos hacia una ciudad circular, donde los residuos se convierten en oportunidades y reducimos el impacto en los ecosistemas por la explotación de recursos y contaminación. La separación, el reciclaje, la reutilización y una gestión más eficiente de los residuos urbanos nos ayuda a transitar hacia un futuro cero residuos.  </p>`,
  },
  {
    img: "riesgos.png",
    title: "Resiliencia",
    description: "Resiliencia urbana",
    extraContent: `<h5>Resiliencia urbana</h5><p>Las personas, los ecosistemas y las actividades económicas de la Ciudad se encuentran en riesgo por los impactos negativos del cambio climático. Buscamos fortalecer nuestras capacidades de adaptación, para hacer frente a estos retos a partir de la prevención y la actuación eficiente. Construimos juntos y juntas una ciudad resiliente. </p>`,
  },
];
---

<div id="soluciones" class="flex flex-wrap gap-8 justify-center">
  {
    soluciones.map((sol) => (
      <Solucion
        img={sol.img}
        title={sol.title}
        description={sol.description}
        extraContent={sol.extraContent}
      />
    ))
  }
</div>
