<section id="que-pasa" class="py-16 bg-white">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl md:text-4xl font-bold text-center mb-12 text-gray-900">
      ¡Queremos conocer tus propuestas!
    </h2>
    <div class="grid md:grid-cols-3 gap-8 text-center">
      <!-- Card 1 -->
      <div class="bg-gray-100 p-8 rounded-2xl shadow-md card">
        <div class="flex justify-center mb-4">
          <img class="w-16 h-16 text-emerald-700" src="/light.png" alt="foco" />
        </div>
        <h3 class="text-xl font-semibold mb-3">Comparte tus ideas</h3>
      </div>
      <!-- Card 2 -->
      <div class="bg-gray-100 p-8 rounded-2xl shadow-md card">
        <div class="flex justify-center mb-4">
          <img
            class="w-16 h-16 text-emerald-700"
            src="/likes.png"
            alt="likes"
          />
        </div>
        <h3 class="text-xl font-semibold mb-3">Cuentanos tus prioridades</h3>
      </div>
      <!-- Card 3 -->
      <div class="bg-gray-100 p-8 rounded-2xl shadow-md card">
        <div class="flex justify-center mb-4">
          <img
            class="w-16 h-16 text-emerald-700"
            src="/interrogantes.png"
            alt="interrogantes"
          />
        </div>
        <h3 class="text-xl font-semibold mb-3">Evaluacion de tus propuestas</h3>
      </div>
    </div>
  </div>
</section>
